<mat-card *ngFor="let entity of entities" (cdkDragMoved)="changeLinePosition($event,entity.id)"  cdkDrag>
    <mat-card-title>
      {{  entity.name}}
    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let field of entity.fields">
        {{field.name}}   {{field.type}}
      </div>
    </mat-card-content>
  </mat-card>
<svg height="100%" width="100%">
  <line *ngFor="let relation of relations"  [attr.x1]="relation.firstEntity.xPosition" [attr.y1]="relation.firstEntity.yPosition" [attr.x2]="relation.secondEntity.xPosition" [attr.y2]="relation.secondEntity.yPosition" stroke="black"/>
</svg>
